@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Safdar Matcheswala<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    773.999.0172
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:smatches@hawk.iit.edu">smatches@hawk.iit.edu</a><br />
</address>